@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Major+Mono+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
    JetBrains Mono
    Reddit Mono
    Roboto
    Poppins
    Major Mono Display
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #121314;
    --btn-color-purple: #736CED;
    --main-green: #73C6B6;
    --off-gray: #8390A5;
    --light-gray: #D5D5D5;
    --text-color: #FFFFFF;
    --purple-gray: #9BA7C0;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);

    scroll-behavior: smooth;
    overflow-x: hidden;
}